body{
    background-color: #f3eae5;
    font-family: "Helvetica Neue",Arial,sans-serif;
    text-align: center;
    
}

h1, h2, h3, h4{
    font-family: "Mabry Pro",Arial,sans-serif;
    font-weight: 400;
}


header{
    background-color: #171c5d;
    color: white;
}

.logo{
    display:inline-block;
    height:5%;
    width: 5%;
    margin-left: 25%;
       
}
header div:hover{    
    color:#864000;
}

.header-left{
    width:30%;
    display: inline-block;
    text-align: left;
}
.nav-bar{
    display: inline-block;
    width: 50%;
}

.border{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 0.75% 2% 0.75%;
    margin-right: 10%;
    background: #f6c8f1;
    color:#171c5d
}

.top-container img{
    width: 90%;
}

.top-container div{
     
    padding: 2% 3% 2%;
    border-radius: 4px;
    margin: 2% auto 2%;
    text-align: center;

}
#get-started{
    background-color: rgb(255, 126, 133);   
}
.top-container{
    padding: 4% auto 4%;
    background-color: #171c5d;
    color: white;
}
.seventh-last-container img{
    width:90%;
    display: block;
    margin:auto;
}
.measure-bar{

    width: 100%;
    background:linear-gradient(to right, green 30%, white 30% 70%);
    height:10px;
    border-radius: 5px;
    margin:10px auto 10px;
}
.fifth-last-container div{
    text-align: center;
    padding:6%;
    margin: 5% 2% 5%;
    border-radius: 5%; 
}
.fifth-last-container div img{
    width: 80%;
    padding:3%;
    display: block;
    margin: auto;

}

.orange{
    background-color: rgb(255, 178, 131);
}

.green{
    background-color: #206871;
}
.fourth-last-container .after-4 div{
    border: 2px solid black;
    border-radius: 4px;
    padding:4%;
    margin:4%;
}

.fourth-last-container .before-4{
    display:inline - flex;
    flex-direction: column;
    text-align: left;
    
}
.fourth-last-container .before-4 div{
    border: 2px solid white;
    border-radius: 4px;
    padding:4% 6% 4%;
    margin:4% 20% 4%;
    width: fit-content 
}

#right-wala{
    align-self: flex-end;
}

.mid-4 {
    text-align: center;
}

.mid-4 img{
    width: 80%;
    
    margin: auto;
}
.third-last-container{
    padding:2%;
    margin: 3% 0 3%;
    text-align: center;
}

.third-last-container p{
    text-align: left;
    background-color: orange;
    
    width:fit-content;
    padding:1% 2% 1%;
    border-radius: 10%;
}
.third-last-container div{
    background-color: whitesmoke;
    border-radius: 5%;
    width:90%;
    margin:5% auto 5%;
    padding:3%

}

.third-last-container img{
    width: 70%;
    display: block;
    margin:auto;
}
.second-last-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding:15% 0 15%;
}

.second-last-container img{
    display:block;
    margin:auto;
    width:20%;
    padding: 3%;
}

.last-container{
    width:90%;
    background-color: #ffd02d;
    border-radius: 10px;
    text-align: center;
    margin:auto;
    padding:5% 4% 5%;    
    color: #ff7399;    
}

form input{
    width:100%;
    text-align: center;
    padding:3%;
    border-radius: 5px;
    border-style: none;
    background: rgba(62,60,67,.2);
    margin:3% 0 2%;
}
.white-text{
    color:white;
}
form label{
    display:none;
}

#submit{
    background-color: white;
    color: #ff7399;
    
}


.monkey2{
    width:90%;
    height:60%;
    padding:4%;
}
footer{
    background: #0a043c;
    color: #7c80ad;
}



.flex-column{
    display:inline-flex;
    flex-direction: column;
    justify-content:flex-start;        
    width:35%;
    padding: 3% 0 3%;
}

#footer-links{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: space-around;
   
    
}

.flex-column div{
    padding:4%;
}

.footer-logo{
    height:4%;
    width: 4%;
    margin:auto;
    display:block
}
    

@media screen and (min-width:768px){
header div{
    display: inline-block;
    height: max-content;
    width:fit-content;
    padding: 2% 1% 2% 1%;
    
    font-size: 20px;
    
}

h1{
    font-size: 4.5rem;
}




.top-container{
    text-align:right;
    display: flex;
    
    height: fit-content;
    margin: 0;
}
.top-container #get-started{
    width: 40%;    
    margin: 0;
    align-self: left;
    margin-left: 9%;
}

.top-container-up{
    display: flex;
    flex-direction: column;
}
.top-container img{
     width:40%;
     height: 40%;
     order:2;
     
}
.top-text-div{
    background-color:#171c5d;
}

.seventh-last-container img{
    width:40%;
    height: 40%;
    padding:10%;
}

.seventh-last-container  {       
    padding: 5%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
    
.sixth-last-container {
    margin: auto;  
    display:flex;
    width:70%;
    flex-direction: row;
    
}


#before-6-text{
    padding: 3%;
    width: 50%;
}
.sixth-last-container {
    display:flex;
    width:100%;
    flex-direction: row;    
    
}
.sixth-last-container div {
    padding:0% 5% 0%;
    
}

.fifth-last-container{
    display: flex;
}
.orange{
    display: inline-block;
    width:30%;
}
.green{
    display: inline-block;
    width:30%;
}
.fourth-last-container{
    display: flex;
}
.fourth-last-container div{
    padding: 3%;
}
.before-4{
    display: inline-flex;
    width:30%;    
    margin: none;
   align-self: flex-start;
    
}
 #right-wala{
     align-self: flex-end
 }
.mid-4{
    width:30%;
    display: inline-block;
}

.after-4{
    width:30%;
    display: inline-block;
    align-self: center;
    justify-self: flex-start;
}

.third-last-container{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.third-last-container div{
    margin: 2%;
}

.second-last-container div{
    display: flex;
    text-align: left;
}

.second-last-container{
    padding:5%;
}
.second-last-container img{
    display: block;
    width:30%;
    margin-left:5%;
}

.second-last-container div div{
    display: block;
    width:100%;
    padding: 2%;
}

.last-container{
    display: flex;
}

#last-img{
    width:40%;
    margin-left:0;
    order:2;
}
footer img{
    padding:2% 0 1% ;
}
#footer-links{
    display: flex;

}
#footer-links div{
    width: 20%;
}

.flex-column{
    width: 100%;
}
#footer-links .flex-column div{
    width: 100%;
}
form label{
    display:block;
}
form input{
    width:60%;
    text-align: center;
    padding:3%;
    border-radius: 5px;
    border-style: none;
    background: rgba(62,60,67,.2);
    margin:3% 0 2%;
}

#submit{
    background-color: white;
    color: #ff7399;
    width:30%;
}
}